.page3-div {
  padding: 15px 0;
  overflow: hidden;
  height: 288px;
    >img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  .project-one-text {
    color: $color-7;
    font-family: $font-1;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 64px;
    text-align: center;
    padding: 20px 0 0;
  }
}

